@model SampleMvcApp.ViewModels.Product.EditViewModel

@{
    ViewData["Title"] = "Edit";
    var Product = Model.Product;
    var Genres = Model.Genres;
    var SelectedGenres = Model.SelectedGenres;
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Product.ProductId" />
            <div class="form-group">
                <label asp-for="@Product.Name" class="control-label"></label>
                <input asp-for="@Product.Name" class="form-control" />
                <span asp-validation-for="@Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Product.Price" class="control-label"></label>
                <input asp-for="@Product.Price" class="form-control" />
                <span asp-validation-for="@Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Product.Description" class="control-label"></label>
                <input asp-for="@Product.Description" class="form-control" />
                <span asp-validation-for="@Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Product.Discount" class="control-label"></label>
                <input asp-for="@Product.Discount" class="form-control" />
                <span asp-validation-for="@Product.Discount" class="text-danger"></span>
            </div>
            @if (Genres.Any())
            {
                <div class="form-group">
                    <label class="control-label">Genre.Name</label>
                    @foreach(var (genre, idx) in Genres.Select((g, i) => (g, i)))
                    {
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="Genres" id="@genre.GenreId" value="@genre.GenreId" class="custom-control-input" @(Html.Raw(SelectedGenres.Any(genreId => genreId == genre.GenreId) ? "checked" : "")) />
                            <label class="custom-control-label" for="@genre.GenreId">@genre.Name</label>
                        </div>
                    }
                    <a asp-controller="Genre" asp-action="Create" class="btn btn-info" target="_blank">Add Genre</a>
                </div>
            }

            <div class="form-group">
                <label class="control-label">Files</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input class="custom-file-input" asp-for="@Model.Files" accept="image/png, image/jpeg" id="FileInput" multiple>
                        <label class="custom-file-label" asp-for="@Model.Files" id="FileInput">ファイルを選択</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
}
